#textdomain wesnoth-Campaign_TWOT

[unit_type]
    id=Wasp_Fighter
    name= _ "Wasp"
    race=zederian
    image="Zederians/Wasp.png"
    profile="Zederians/Wasp.png"
    hitpoints=29
    movement_type=fighterfly
    movement=6
    experience=43
    level=1
    alignment=chaotic
    advances_to=Hornet,Raven
    {AMLA_DEFAULT}
    cost=21
    usage=ship
    description= _ "Wasps are the light fighters of the Zederians. While not especially strong or fast, the Zederians have huge numbers of them, and as such are used mostly to swarm foes."
    die_sound=ship-explosion.wav
    {TRAIT_MECHANICAL}
    [attack]
        name=Rifle
        description=_"Twin Lasers"
        icon=attacks/laserbeams.png
        type=pierce
        range=ranged
        damage=5
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=Rifle
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/greenlasers-n.png"
            image_diagonal="projectiles/greenlasers-ne.png"
        [/missile_frame]
        [frame]
            begin=-445
            end=-380
            image="Zederians/Wasp.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-380
                end=-305
                image="Zederians/Wasp.png"
                sound=beam.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-380
                end=-305
                image="Zederians/Wasp.png"
                sound=beam.wav
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
